<div class="row">
    <div>
        <span style="text-transform: uppercase;"> WELCOME <i><u>
                    <%= loggedUserName %>
                </u>!</i></span>

        <span id="logout" class="ms-3 btn btn-sm btn-outline-danger">logout</span>
    </div>
</div>