.login-section{
    text-align: center;
}
form{
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}
select{
    width: 100%;
}
button[type="submit"]{
    width: 100%;
}